body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background-color: #1E2D3D;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}